
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Lab20_RegistrationForm.Models.UserInfo

<h2>AddUser</h2>
<h1>Welcome: @Model.ULastName, @Model.UFirstName</h1>

