
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Adding a little style to the Register page-->
<style>
    label {
        width: 150px;
        display: inline-block;
        text-align: left;
        vertical-align: bottom;
        font-family: Verdana;
    }

    labelTwo {
        width: 211px;
        display: inline-block;
        text-align: left;
        vertical-align: bottom;
        font-family: Verdana;
    }

    body {
        background-color: deepskyblue;
    }
    </style>
    <h1 > Please fill the form to register!</h1 >
    <!-- Creating the data boxes and "Register button on the form. -->

 <form action="/Home/AddUser"> 
     <label> First Name:</label><input type="text" name="UFirstName" /> <br /> 
     <label>Last Name:</label> <input type="text" name="ULastName" /> <br /> 
     <label>Email:</label> <input type="text" name="UEmail" /> <br /> 
     <label>Phone Number:</label> <input type="text" name="UPhone" /> <br /> 
     <label>Password:</label> <input type="text" name="UPassword" /> <br /> 
    
    <button onclick="AddUser" >Click to Register</button > 
 </form >
