
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Please fill the form to register!</h1>

<form action="/Home/AddUser">
    First Name: <input type="text" name="UFirstName" /><br />
     Last Name: <input type="text" name="ULastName" /><br />
         Email: <input type="text" name="UEmail" /><br />
  Phone Number: <input type="text" name="UPhone" /><br />
      Password: <input type="text" name="UPassword" /><br />

    <button onclick="AddUser">Registration</button>
</form>